* { margin: 0; padding: 0; box-sizing: border-box; }

body {
	background: url(../images/background_image2.png) no-repeat center fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

#intro, #contact {
	padding: 1em;
}

#how, #contact, section#questions > a, #sheets a {
	background: #5e9ff2;
}

img, #sheets {
	text-align: left;
}

p, input, textarea, #submit {
	font-family: 'Sanchez', serif;
}

p {
	padding: 1.5em;
}

a, section#questions > a, #sheets a, #how div {
	color: #fff;
}

p {
	line-height: 1.25em;
}

#questions > a {
	margin: 1em;
}

#questions > a {
	border-radius: 0.25em;
	padding: .6em;
}

footer, #questions > a:hover, #submit:hover {
	background: #fff;
	color: #458c5e;
	border-color: #458c5e;
}

#questions > p {
	padding: 0em;
	margin-top: 1.5em;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

nav {
	padding-top: 4.15em;
}

video, header img, audio, nav, #questions {
	float: left;
}

video {
	height: 10em;
	width: 16em;
	margin: .25em;
}

header div {
	width: 61em;
	margin: 0 auto;
}

header {
	height: 6.07em;
}

header img, nav, #questions {
	display: inline;
}

header img {
	width: 15em;
}

header img:hover {
	content: url(../images/zwmusiccustoms.svg);
}

footer, #contact {
	clear: both;
}

input, textarea {
	padding: 1em;
}

nav a {
	margin: 2.5em;
	padding: .25em;
}

nav a:hover {
	border-bottom: .3em solid #5e9ff2;
}

section#questions > a, #submit  {
	background: #458c5e;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	padding: .8em;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

#featured h1 {
	padding: 2.5em .8em;
}

form, input, textarea {
	display: block;
}

form, #contact > p, #featured {
	margin: 0 auto;
}

form {
	float: left;
	display: block;
	width: 60%;
	font-size: .75em;
}

input, textarea {
	display: block;
	font-size: 1.2em;
	width: 37em;
	height: 3em;
	border: none;
	margin: .5em;
	color: #5a6b8c;
}

footer {
	color: #5e9ff2;
	padding: .75em;
}

header, #about, #featured, #how {
	display: block;
	clear: both;
}

.title {
	width: 40%;
	float: left;
}

#videos {
	float: left;
	width: 60%;
}

#about {
	width: 61em;
	margin: 0 auto;
}

#examples {
	clear: both;
}

#about p, #about h1 {
	float: left;
}

#contact {
	width: 61em;
	margin: 0 auto;
}

#contact img {
	width: 4em;
}

#contact img:hover {
	transform: translate(0, 0.25em);
}

#contact > p {
	width: 36em;
}

#details {
	height: 12em;
}

#email {
	color: inherit;
}

#email:hover {
	color: rgba(255, 255, 255, 0.5);
}

#featured {
	width: 61em;
}

header, #contact {
	background: #5a6b8c;
}

#how {
	clear: both;
	background: #5e9ff2;
	width: 61em;
	margin: 0 auto;
}

#how {
	background: #5e9ff2;
	clear: both;
	width: 100%;
}

#how p, #how h1 {
	background: #5e9ff2;
}

#how p {
	float: left;
	width: 60%;
	padding: 2.26em;
}

#how div.icon {
	background: #5e9ff2;
	float: left;
	width: 33.33%;
}

#how img {
	padding-top: 1em;
	width: 5em;
}

#help {
	width: 61em;
	margin: 0 auto;
}

#sheets a {
	font-size: .75em;
	margin: 2em;
	padding: .5em;
}

#questions {
	margin-top: 2em;
}

#intro {
	text-align: left;
	background: rgba(69, 140, 94, 0.5);
	padding: 3em;
	width: 60%;
}

#submit {
	color: inherit;
	font-family: inherit;
	border-radius: 0.25em;
}

.clearfix:after {
     content: ".";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
}
