* { margin: 0; padding: 0; box-sizing: border-box; }

body {
	background: url(../images/background_image2.png) no-repeat center fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

nav, #intro {
	padding: 1em;
}

nav, #contact {
	background: #5e9ff2;
}

img, #sheets {
	text-align: left;
}

p, input, textarea, #submit {
	font-family: 'Sanchez', serif;
}

#contact {
	padding-bottom: 1em;
}

p, #featured {
	padding: 1.5em;
}

section#questions > a, #sheets a, #benefits div, {
	background: #5e9ff2;
	color: #fff;
}

p {
	line-height: 1.25em;
}

#questions > a {
	border-radius: 0.25em;
	padding: .6em;
	margin: 1em;
}

#questions > a:hover, #submit:hover {
	background: #fff;
	color: #458c5e;
	border-color: #458c5e;
}

#questions > p {
	padding: 0em;
	margin-top: 1.5em;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

h1 {
	font-size: 1.25em;
}

iframe {
	float: left;
	height: 10em;
	width: 16em;
	margin: .25em;
}

header img {
	width: 12em;
	margin: 1em;
	float: left;
}

header img:hover {
	content: url(../images/zwmusiccustoms_hover.svg);
}

audio {
	float: left;
}

nav {
	clear: both;
	text-align: center;
}

nav a {
	border-radius: 0.25em;
	margin: 3em;
	padding: 1em;
}

nav a:hover {
	background: #458c5e;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 1em;
}

form {
	display: block;
	width: 50em;
	font-size: .75em;
	margin: 0 auto;
}

input, textarea {
	display: block;
	font-size: 1.2em;
	width: 40em;
	height: 3em;
	border: none;
	margin: .5em;
	padding: 1em;
}

footer {
	background: #fff;
	color: #5e9ff2;
	clear: both;
	padding: .75em;
}

#contact {
	clear: both;
	padding-bottom: 1em;
}

#contact img {
	width: 4em;
}

#contact img:hover {
	transform: translate(0, 0.25em);
}

#contact > p {
	width: 36em;
	margin: 0 auto;
}

#details {
	height: 12em;
}

#email {
	color: inherit;
}

#email:hover {
	color: rgba(255, 255, 255, 0.5);
}

#featured {
	height: 25em;
	width: 36em;
	margin: 0 auto;
	margin-bottom: 3em;
}

#benefits div {
	float: left;
	width: 31.33%;
	margin: 1%;
}

#benefits img {
	padding-top: 1em;
}

#sheets a {
	font-size: .75em;
	margin: 2em;
	padding: .5em;
}

#questions {
	float: right;
	margin-top: 2em;
	margin-right: 2em;
}

section#questions > a, #submit {
	background: #458c5e;
}

#intro > p {
	border-radius: 0.25em;
	background: rgba(69, 140, 94, 0.5);
	margin: 0 auto;
	width: 36em;
}


#submit {
	font-family: inherit;
	border-radius: 0.25em;
	color: #fff;
}

.clearfix:after {
     content: “.”;
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
}
