* { margin: 0; padding: 0; box-sizing: border-box; }

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 1em;
	text-align: center;
	text-decoration: none;
}

header, img, #sheets {
	text-align: left;
}

nav, #questions {
	padding: 1em;
}

section#questions > a, #sheets a {
	background: #3475b8;
	color: #fff;
}

header {
	max-width: 60em;
}

img {
	width: 12em;
	position: absolute;
}

nav {
	clear: both;
	display: block;
	background: #949494;
	text-align: center;
}

audio {
	float: left;
}

p {
	clear: both;
	font-family: 'Roboto Slab', serif;
	padding: 1.5em 0;
}

footer {
	background: #cccccc;
	padding: .75em;
	margin-top: 2em;
}

section#questions > a {
	padding: .6em;
	margin: 5em;
	margin-top: 5em;
}

#sheets a {
	font-size: .75em;
	margin: 2em;
	padding: .5em;
}

#questions {
	text-align: right;
}

.clearfix:after {
     content: “.”;
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
}