* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url(../images/drumline_performance.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Bitter', serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

h1{
	font-size:2em;
}
hr {
	width: 40em;
}
a {
	text-decoration: none;
	color: #ffe57e;
	border-style: solid;
	border-width: 2px;
	padding: .5em 1em;
}
#slogan{
	font-size: 1.5em;
	font-style: italic;
	color: #ffe57e;
}
#summary {
	margin:0 auto 0 auto;
}

.list {
	width: 300px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: .5em;
}
